<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel='stylesheet' href='../../static/common/styles/common.css' />
    {{{_sections.styles}}}
  </head>
  <body>
    {{>Header}}
    {{{body}}}
    {{>Footer}}
    {{{_sections.scripts}}}
  </body>
</html>
